<section id="galerie-statica">

    <div id="grid">

    <% d = new Date();

    perioada_curenta = (d.getHours() >= 5 && d.getHours() < 12) ? "dimineata" : (d.getHours() >= 12 && d.getHours() < 20) ? "zi" : (d.getHours() >= 20 && d.getHours() < 5) ? "noapte" : null;

    <!-- perioada_curenta = "dimineata" -->

    let afisate = 0;
    let valide = 0;

    console.log(perioada_curenta)

    for(let imag of locals.imagini){

        if(imag.perioada_zi){

            let afiseaza = false;

            if(imag.perioada_zi == perioada_curenta) afiseaza = true;
            
            console.log(afiseaza)
            if(afiseaza){
                afisate++;
                if(valide > 6 && afisate > valide - valide % 3){
                    afiseaza = false;
                }
            }
            console.log(afiseaza+'\n')

            if(afiseaza){%>

                <div class="celula-galerie">
                    <figure>
                        <picture>
                          <source srcset="<%- imag.fisier_mic %>" media="(max-width: 700px)">
                          <source srcset="<%- imag.fisier_mediu %>" media="(max-width: 1000px)">
                          <source srcset="<%- imag.fisier%>" media="(max-width: 4000px)">

                          <img src="<%- imag.fisier %>" alt="<%- imag.continut_alternativ %>" title="<%- imag.nume_poza %>">
                        </picture>
                    </figure>
                    <figcaption><%- imag.descriere %></figcaption>
                </div>

            <% }

        }

    }

    %>
    </div>
  </section>